{% extends 'base.html' %}
{% load humanize %}
{% load bootstrap4 %}

{% block content %}
<h4>Products</h4>
{% buttons %}
  <button class="btn">
    <a class="btn btn-primary" href="{% url 'core:add' %}">Add a Product</a>
  </button>
{% endbuttons %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Cod</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for prod in products %}
        <tr>
            <th scope="row">{{ prod.id }}</th>
            <td>{{ prod.name }}</td>
            <td>R$ {{ prod.price|intcomma }}</td>
            <td>
                <a class="btn btn-warning" href="{% url 'core:edit' prod.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'core:delete' prod.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}