{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--django-bootstrap4-->
    {% bootstrap_css %}

    <!--htmx-->
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/client-site-templates.js"></script>

    <!--mustache-->
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>

    <title>CRUD - CBV</title>
</head>
<body>
    <div class="container">
        <!-- CONTENT -->
        {% block content %}{% endblock content %}

    </div>
    {% bootstrap_javascript jquery='full' %}
    <script src="{% static 'js/jquery/bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>